body {
    max-width: 400px;
    margin: 0 auto;
    background: white;
    color: black;
}
  
div {
    background: lightblue;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.one {
    font-weight: bold;
}

.two {
}

.three {
    text-align: center;

}

p {
    margin: 0px; 
}

.button {
    width: 100;
    background-color: white;
    display: inline-block;
}